body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    overflow: hidden;
    color: #fff;
    background: #572829;
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  .filter-red {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
            filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  }
  .filter-red_blur {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8) blur(4px) !important;
            filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8) blur(4px) !important;
    transition: all 0.5s ease-in-out;
  }
  .view {
    text-align: center;
    background: url(https://www.bestfunforall.com/wallpaperbetter/imgs/House%20Background%20wallpaper%20%201.jpg) center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
            filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
  }
  .view_blur {
    -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8) blur(4px) !important;
            filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8) blur(4px) !important;
    transition: all 0.5s ease-in-out;
  }
  .ui {
    position: absolute;
    top: 50px;
    right: 50px;
    bottom: 50px;
    left: 50px;
    border: 4px solid #fff;
  }
  .frame {
    padding: 50px;
  }
  #analysis h2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 60px;
    margin: 0;
    margin-bottom: 10px;
    padding-right: 15px;
  }
  #analysis h2::after {
    content: '*****************************';
    display: block;
    position: absolute;
    bottom: 0;
  }
  #tracking {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
  }
  #report {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 200px;
  }
  p {
    margin: 0;
  }
  .square {
    display: inline-block;
    font-size: 150%;
    -webkit-animation: blink 1s infinite forwards ease;
            animation: blink 1s infinite forwards ease;
  }
  @-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.button {
    height: 23px;
    padding: 0.5em, 0.5em, 0.5em, 0em;
    margin-right: 1em;
}

#capture {
    display: none;
}